<div class="row">
	<h4>Tournaments page</h4>
	<p>Choose your tournament</p>
</div>
<div class="row" ng-controller="MainCtrl">
	<div class="col s6">
		<ul class="collection">
			<li class="collection-item" ng-repeat="tourney in tournaments">
				<a href="/pth/{{tourney._id}}">
					{{tourney.name}}
					<i class="mdi-content-send pull-right"></i>
				</a>
			</li>
		</ul>
		<p ng-controller="newTournamentModalCtrl">
			<button class="waves-effect waves-light btn" ng-click="open()">
				<i class="mdi-content-add left"></i>&nbsp;Create new tournament
			</button>
		</p>
	</div>

	<div class="col s6 tournamentInfo">
		<h5>{{selectedTourney.name}}</h5>
		<p>{{selectedTourney.location}}, {{selectedTourney.tour}}</p>
		<p>{{selectedTourney.startDate}} - {{selectedTourney.endDate}}</p>
	</div>

</div>