<div class="row">
	<h4>Tournaments page</h4>
	<p>Choose your tournament</p>
</div>
<div class="row" ng-controller="MainCtrl">
	<div class="col s6">
		<ul class="collection">
			<a href="/pth/{{tourney._id}}" ng-repeat="tourney in tournaments" ng-mouseover="changeSelected(tourney)" class="collection-item">
				{{tourney.name}}
				<i class="mdi-content-send pull-right"></i>
			</a>
		</ul>
		<p ng-controller="newTournamentModalCtrl">
			<button class="waves-effect waves-light btn" ng-click="open()">
				<i class="mdi-content-add left"></i>&nbsp;Create new tournament
			</button>
		</p>
	</div>

	<div class="col s6 tournamentInfo">
		<h5>{{selectedTourney.name}}</h5>
		<p>{{selectedTourney.location}}, {{selectedTourney.tour}}</p>
		<p>{{selectedTourney.startDate | date}} - {{selectedTourney.endDate | date}}</p>

		<a href="" class="waves-effect waves-light btn red" ng-click="deleteTourney(selectedTourney._id)">delete</a>
	</div>

</div>