<div class="row" ng-controller="PthCtrl">
	<div class="col s4">
        <h4>{{tournament.name}}</h4>
        <p>{{tournament.tour}}, {{tournament.location}}</p>
    </div>

    <p class="col s8">
    <form class="pthInput form-group">
        <div class="col s2">
            <input type="text" name="distance" placeholder="Distance" ng-model="newData.distance">
        </div>
        <div class="col s2">
            <input type="text" name="pth"  placeholder="Proximity to Hole" ng-model="newData.pth">
        </div>
        <div class="col s2"> 
            <input type="text" name="direction"  placeholder="Direction" ng-model="newData.direction">
        </div>
        <div class="col s2">
            <input class="btn btn-success" type="submit" ng-click="addToTable(newData)" value="Add" />
        </div>
    </form>
    </p>
</div>

<div class="row">
    <div class="col s6">
    	<table class="bordered">
    		<thead>
    			<th>Distance</th>
    			<th>Proximity to Hole</th>
    			<th>Direction</th>
    		</thead>
    		<tbody>
    			<tr ng-repeat="row in table">
    				<td>{{row.distance}}</td>
    				<td>{{row.pth}}</td>
    				<td>{{row.direction}}</td>
    			</tr>
    		</tbody>
    	</table>
    </div>

    <div class="col s6">
        Graph here
    </div>
</div>