.pull-right{
	float: right;
}

.pull-left{
	float: left;
}

.modal {
	top: 100px;
}


.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}